@font-face {
    font-family: 'Pocket Monk';
    src: url('fonts/Pocket Monk.otf') format('opentype');
}

@font-face {
    font-family: 'Pokemon GB';
    src: url('fonts/Pokemon GB.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon GB Japan HR';
    src: url('fonts/Pokemon GB Japan HR.ttf') format('truetype');
}
